<h1><%= @the_board.name %></h1>
<% all_listings = Listing.where({ :id => @the_board.id })%>
<% active_listings = all_listings.where({ :expires_on => (Date.today...) })%>
<h2>Active Listings</h2>
<% active_listings.each do |a_listing|%>
  <li>
    <%= a_listing.title%>

    (<%= a_listing.expires_on%>)
  </li>
<% end %>

<h2>Expires Listings</h2>
<% expired_listings = all_listings.where({ :expires_on => (...Date.today) })%>
<% expired_listings.each do |a_listing|%>
  <li>
    <%= a_listing.title%>

    (<%= a_listing.expires_on%>)
  </li>
<% end %>
