<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><%= @the_board.name %></li>
  </ul>
</nav>
<% all_listings = Listing.where({ :id => @the_board.id })%>
<% active_listings = all_listings.where({ :expires_on => (Date.today...) })%>

<article>
  <header>Active Listings</header>
  <div style="overflow-x: scroll">
    <table>
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th>Expires on</th>
        <th>Posted on</th>
      </thead>

      <% active_listings.each do |a_listing|%>
        <tr>
          <td><%= a_listing.title %></td>
          <td><%= a_listing.body %></td>
          <td><%= a_listing.expires_on.strftime("%b %e, %Y") %></td>
          <td><%= a_listing.created_at.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</article>

<article>
  <header>Expired listings</header>
  <div style="overflow-x: scroll">
    <table>
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th>Expired on</th>
        <th>Posted on</th>
      </thead>

      <% expired_listings = all_listings.where({ :expires_on => (...Date.today) })%>
      <% expired_listings.each do |a_listing|%>
        <tr>
          <td><%= a_listing.title %></td>
          <td><%= a_listing.body %></td>
          <td><%= a_listing.expires_on.strftime("%b %e, %Y") %></td>
          <td><%= a_listing.created_at.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</article>
